.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 20px auto;
  flex: 1;
  width: 70%;
}